#vcomments {
    padding: 0;
    background-color: #e1e3e5;
}

/*Container of Edit Section*/
#vcomments .vwrap {
    margin-bottom: 0;
    padding: 1rem;
    border: none;
    border-radius: 0;
    background-color: #f4f4f4;
}

/*Primary Font*/
#vcomments .status-bar, #vcomments .veditor, #vcomments .vinput, #vcomments p, #vcomments pre code {
    color: #000;
}

/*Secondary Font*/
#vcomments .vsys, #vcomments .vtime, #vcomments .vpower {
    color: #000;
}


/*Header*/
/* #vcomments .vheader {
} */

/*Header Input*/
#vcomments .vheader input {
    border-bottom: none;
    margin: 10px 0;
    padding: 0;
    font-family: inherit;
    font-weight: bold;
}

@media (min-width: 521px) {
    #vcomments .vheader input:not(:first-of-type) {
        padding-left: 10px;
    }

    /* #vcomments .vheader input:not(:last-of-type) {
        border-right: 1px solid rgba(0, 0, 0, .33);
    } */
}

/* @media (max-width: 520px) {

} */

/*Edit Section*/
#vcomments .vedit {
    padding-top: 0;
    border-top: 1px solid rgba(0, 0, 0, .33);
    border-bottom: 1px solid rgba(0, 0, 0, .33);
}

/*Editor*/
#vcomments .veditor {
    padding: 1rem;
}

/* Row Container in Edit Section */
/* #vcomments .vedit .vrow {
    padding-left: 1rem;
    padding-right: 1rem;
} */

/*Row Container after Edit Section*/
/* #vcomments .vwrap > .vrow {
    padding-left: 0;
    padding-right: 0;
} */ 

/*Emoji Button*/
#vcomments .vemoji-btn svg{
    visibility: hidden;
}

#vcomments .vemoji-btn::before {
    content: "";
    position: absolute;
    height: 24px;
    width: 24px;
    background-image: url(../assets/svg/emoticon-outline.svg);
}

/*Preview Button*/
#vcomments .vpreview-btn {
    margin-left: 24px;
}

#vcomments .vpreview-btn svg{
    visibility: hidden;
}

#vcomments .vpreview-btn::before {
    content: "";
    position: absolute;
    height: 24px;
    width: 24px;
    background-image: url(../assets/svg/comment-search-outline.svg);
}

/*Submit Button*/
#vcomments .vsubmit {
    padding-left: 0;
    padding-right: calc(1.25em + 24px);
    border: none;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    background-image: url(../assets/svg/send-outline.svg);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: 3em 50%;
    transition-duration: 0s;
}

@media (min-width: 768px) {
    #vcomments .vemoji-btn:hover, #vcomments .vpreview-btn:hover, #vcomments .vsubmit:hover {
        filter: invert(33%) sepia(10%) saturate(6408%) hue-rotate(324deg) brightness(107%) contrast(103%);
    }
}

/*Emoji Picker*/
#vcomments .vemojis {
    background-color: #f4f4f4;
}

/*Comment Count*/
#vcomments .vcount {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

/*Comment Section*/
#vcomments .vcards {
    padding-left: 1rem;
    padding-right: 1rem;
}

/*Comment Avatar*/
#vcomments .vcards .vcard .vimg {
    border: none;
    padding: 0;
}

/*Comment Text Area*/
#vcomments .vcards .vcard .vh {
    border-bottom: none;
}

/*Comment Nickname*/
#vcomments .vcards .vcard .vhead > .vnick {
    font-weight: bold;
}

#vcomments .vcards .vcard .vhead > .vnick:hover {
    color: #d8403c;
}

/*Comment Reply Button*/
#vcomments .vcards .vcard .vat {
    position: relative;
    color: transparent;
}

#vcomments .vcards .vcard .vat::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url(../assets/svg/arrow-left-top.svg);
    background-position: center;
}

@media (min-width: 768px) {
    #vcomments .vcards .vcard .vat:hover {
        filter: invert(33%) sepia(10%) saturate(6408%) hue-rotate(324deg) brightness(107%) contrast(103%);
    }
}

/*Comment Cancel Reply Button*/

#vcomments .cancel-reply {
    position: relative;
    margin-bottom: 18px;
}

#vcomments .cancel-reply::before {
    content: "";
    position: absolute;
    top: -16px;
    right: 0;
    height: 24px;
    width: 24px;
    background-image: url(../assets/svg/close.svg);
    cursor: pointer;
}

@media (min-width: 768px) {
    #vcomments .cancel-reply:hover::before {
        filter: invert(33%) sepia(10%) saturate(6408%) hue-rotate(324deg) brightness(107%) contrast(103%);
    }
}

#vcomments .cancel-reply-btn {
    visibility: hidden;
}

/*Powered By*/
#vcomments .vpower {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}