#vcomments {
    padding: 1rem;
    background-color: #e1e3e5;
}

#vcomments .vwrap {
    border: none;
    border-radius: 0;
    padding: 0;
}

#vcomments .status-bar, #vcomments .veditor, #vcomments .vinput, #vcomments p, #vcomments pre code {
    color: #000;
}

#vcomments .vcards .vcard .vimg {
    border: none;
    padding: 0;
}

#vcomments .vedit {
    background-color: #f4f4f4;
    padding-top: 0;
}

#vcomments .veditor {
    padding: 1rem;
}

#vcomments .vrow {
    padding-left: 1rem;
    padding-right: 1rem;
}