body {
    margin: 0;
    user-select: none;
}

h1 {
    margin: 0;
}

.button {
    transition: background-color .2s;
    cursor: pointer;
}

.button:active:not(.active) {
    background-color: rgba(128, 128, 128, .2);
}

.button.active {
    filter: invert(33%) sepia(10%) saturate(6408%) hue-rotate(324deg) brightness(107%) contrast(103%);
}

@media (min-width: 768px) {
    .button:hover {
        background-color: rgba(128, 128, 128, .1);
    }

    .button:hover:not(.active) {
        filter: invert(33%) sepia(10%) saturate(6408%) hue-rotate(324deg) brightness(107%) contrast(103%);
    }
}

@media (max-width: 767px) {
    /* .button:active {
        filter: invert(33%) sepia(10%) saturate(6408%) hue-rotate(324deg) brightness(107%) contrast(103%);
    } */
}

/* #viewport {
} */

#central-logo {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    transition: height .3s cubic-bezier(.5,0,0,1), width .3s cubic-bezier(.5,0,0,1);
}

#logo-animated-container {
    position: absolute;
    width: 100px;
    height: 100px;
    transition: left .3s cubic-bezier(.5,0,0,1);
}

#logo-main {
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: url(../logo/GKP-2003-mainlogo-red.svg);
    background-position: center;
    background-size: 84px;
    background-repeat: no-repeat;
    z-index: 99;
}

.lines {
    position: absolute;
    top: 32.5px;
    right: -100px;
    width: 240.75px;
    height: 35px;
    transform-origin: 90.75px 17.5px;
    transition: right .3s cubic-bezier(.5,0,0,1), width .3s cubic-bezier(.5,0,0,1), transform .3s cubic-bezier(.5,0,0,1), transform-origin .3s cubic-bezier(.5,0,0,1);
}

.lines div {
    position: absolute;
    right: 0;
    height: 100%;
    width: 0;
    background-color: #dd3d3d;
    transition: width .8s cubic-bezier(.5,0,0,1);
}

h1.codename {
    position: absolute;
    font-family: 'Barlow', sans-serif;
    font-size: 40px;
    font-weight: bold;
    transition: filter .3s .5s, top .3s cubic-bezier(.5,0,0,1), left .3s cubic-bezier(.5,0,0,1);
}

h1#code-start {
    width: 102px;
}

h1#code-end {
    width: 74px;
}

#logo-animated-container:hover .lines div {
    width: 100%;
    left: 0;
}

@media (min-width: 768px) {
    #central-logo {
        height: 275px;
        width: 426px;
    }

    #logo-animated-container {
        left: 97px;
        margin: 87.5px 100px 87.5px 50px;
    }

    .lines#deg-0 {
        transform: rotate(0deg);
    }

    .lines#deg-120 {
        transform: rotate(-120deg);
    }
    
    .lines#deg-240 {
        transform: rotate(120deg);
    }

    h1.codename {
        top: 111px;
    }

    h1#code-start {
        left: 0;
        transition: filter .2s, top .2s ease-in-out, left .2s ease-in-out;
    }

    h1#code-end {
        left: 352px;
    }    
}

@media (max-width: 767px) {
    #central-logo {
        height: 325px;
        width: 200px;
    }

    #logo-animated-container {
        left: 0;
        margin: 87.5px 50px;
    }

    .lines#deg-0 {
        right: -159.25px;
        width: 418.5px;
        transform-origin: 209.25px 17.5px;
        transform: rotate(90deg);
    }

    .lines#deg-120 {
        right: -40.75px;
        width: 181.5px;
        transform: rotate(-30deg);
    }

    .lines#deg-240 {
        width: 300px;
        transform-origin: 150px 17.5px;
        transform: rotate(210deg);
    }
    
    h1.codename {
        top: 346.75px;
    }

    h1#code-start {
        left: 8px;
    }

    h1#code-end {
        left: 110px;
    }    
}

nav#left-nav-container {
    position: fixed;
    width: 48px;
    height: 120px;
    z-index: 149;
}

.navbt {
    position: relative;
    height: 24px;
    width: 24px;
    padding: 12px;
    margin: 8px 0;
    background-size: 24px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 199;
}

.navbt#nav-logo {
    background-image: url(../logo/GKP-2003-mainlogo.svg);
    background-size: 18px;
}

.navbt#nav-projects {
    background-image: url(../assets/svg/view-grid-outline.svg);
}

#navbg {
    position: absolute;
    width: 3px;
    height: 48px;
    background-color: #dd3d3d;
    transition: top .1s ease-in-out;
    z-index: 198;
}

#navbg.stay-logo {
    top: 8px;
}

#navbg.stay-projects {
    top: 64px;
}

#right-buttons-container {
    position: fixed;
    width: 48px;
    height: 120px;
    z-index: 149;
}

#right-buttons-container div {
    position: relative;
    height: 24px;
    width: 24px;
    padding: 12px;
    margin: 8px 0;
    border-radius: 50%;
    background-size: 24px;
    background-position: center;
    background-repeat: no-repeat;
}

#theme-toggle {
    background-image: url(../assets/svg/circle-half-full.svg);
}

#language-switch {
    background-image: url(../assets/svg/web.svg);
}

#arrow {
    position: absolute;
    bottom: 8px;
    left: 50%;
    height: 24px;
    width: 24px;
    padding: 12px;
    border-radius: 50%;
    transform: translate(-50%, 0);
    background-image: url(../assets/svg/chevron-down.svg);
    background-position: center;
    background-size: 24px;
    background-repeat: no-repeat;
}

nav#mobile-bottom-nav {
    position: fixed;
    bottom: 8px;
    left: 8px;
    height: 48px;
    width: 100vw;
    transition: box-shadow .2s;
    z-index: 148;
}

@media (min-width: 768px) {
    #arrow {
        display: block;
    }
    nav#left-nav-container {
        top: 50vh;
        left: 8px;
        transform: translate(0, -50%);
    }
    #right-buttons-container {
        top: 50vh;
        right: 8px;
        transform: translate(0, -50%);
    }
    #mobile-bottom-nav {
        display: none;
    }
}

@media (max-width: 767px) {
    #arrow {
        display: none;
    }
    nav#left-nav-container {
        bottom: -28px;
        left: 44px;
        transform-origin: 24px 60px;
        transform: rotate(-90deg);
    }
    .navbt {
        transform-origin: center;
        transform: rotate(90deg);
    }
    #right-buttons-container {
        bottom: -28px;
        right: 44px;
        transform-origin: 24px 60px;
        transform: rotate(-90deg);
    }
    #right-buttons-container div {
        transform-origin: center;
        transform: rotate(90deg);
    }
    #mobile-bottom-nav {
        display: block;
    }
}

/*Second Page*/

#projects {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

#projects h1 {
    font-family: 'Barlow', sans-serif;
    margin: 32px auto;
}

#categories-container {
    margin: 0 auto 200px auto;
}

@media (min-width: 768px) {
    #categories-container {
        width: 636px;
    }
}

@media (max-width: 767px) {
    #categories-container {
        width: 200px;
    }
}

.categories {
    width: 200px;
    margin: 0 6px;
    float: left;
}

.categ-name {
    position: relative;
    display: flex;
    width: 100%;
    height: 48px;
    margin: 24px 0 12px 0;
    z-index: 50;
}

.categ-name p {
    margin: auto;
    font-family: "Barlow", "Noto Sans SC";
    font-size: 18px;
    font-weight: 800;
    z-index: 51;
}

.categ-name::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .25;

    background-size: 48px;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(1);

    content: "";
    z-index: 49;
}

/*Project Items*/
.items {
    position: relative;
    width: 100%;
    height: 56px;
    margin: 8px 0;
}

/*Project Lastest Updated Years & Months*/
.items > p {
    position: absolute;
    display: block;
    top: 12px;
    margin: 0;
    font-family: 'Barlow';
    font-weight: bold;
    font-size: 24px;
}

.items > .years {
    right: 50px;
    width: 60px;
    text-align: center;
}

.items > .months {
    right: 4px;
    width: 30px;
    opacity: .2;
}

/*Project Link Buttons*/
.item-buttons {
    position: absolute;
    left: 0;
    width: 56px;
    height: 56px;
    border-radius: 28px;
    background-color: rgba(128, 128, 128, .2);
    z-index: 50;
    transition: width .2s cubic-bezier(.5,0,0,1), 
                border-radius .2s cubic-bezier(.5,0,0,1), 
                background-color .2s ease-in-out;
}

.item-buttons:hover {
    width: 100%;
    border-radius: 0;
    background-color: #dd3d3d;
}

/*Icons of Projects*/
.item-buttons::before {
    position: absolute;
    top: 0;
    right: 0;
    width: 56px;
    height: 56px;
    opacity: 1;
    border-radius: 28px;

    background-image: url(../assets/img/projects/none.svg);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;

    content: "";
    z-index: 49;
    transition: all .2s cubic-bezier(.5,0,0,1);
}

.item-buttons:hover::before {
    width: 160px;
    opacity: 0.16;
    background-size: 60px;
}

/*Names of Projects*/
.item-buttons p {
    position: absolute;
    right: 80px;
    transform: translate(50%, 0);
    width: max-content;
    margin: 15px 0;
    font-family: 'Noto Sans SC';
    font-weight: bold;
    font-size: 16px;
    visibility: hidden;
    color: rgba(255, 255, 255, 0);
    z-index: 51;
    transition: color .2s ease-in-out .05s;
}

.item-buttons:hover p {
    visibility: visible;
    color: rgb(255, 255, 255);
}

/*Link of Projects*/
.item-buttons a {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: 16px;
    filter: invert(1);
    opacity: 0;
    visibility: hidden;
    z-index: 51;
    transition: opacity .2s cubic-bezier(.5,0,0,1) .05s, visibility 0s .1s;
    /* width .2s cubic-bezier(.5,0,0,1); */
}

.item-buttons:hover a {
    opacity: 1;
    visibility: visible;
}

.item-buttons a.internal-link {
    background-image: url(../assets/svg/arrow-right.svg);
}

.item-buttons a.external-link {
    background-image: url(../assets/svg/arrow-top-right.svg);
}

/*Lists of Projects*/
#minecraft .categ-name::before {
    background-image: url(../assets/svg/cube-outline.svg);
}

#bpext .item-buttons::before {
    background-image: url(../assets/img/projects/bpext.svg);
}

#piano-explosion-in-mc .item-buttons::before {
    background-image: url(../assets/img/projects/tnt180piano.svg);
}

#originium-in-mc .item-buttons::before {
    background-image: url(../assets/img/projects/Originuim.svg);
}

#orundum-in-mc .item-buttons::before {
    background-image: url(../assets/img/projects/Orundum.svg);
}

#n9squares .item-buttons::before {
    background-image: url(../assets/img/projects/9squares.svg);
}

#find-the-button-2 .item-buttons::before {
    background-image: url(../assets/img/projects/find-the-button-2.svg);
}

#find-the-button .item-buttons::before {
    background-image: url(../assets/img/projects/find-the-button.svg);
}

#piston-gate-2x0625 .item-buttons::before {
    background-image: url(../assets/img/projects/piston-gate-2x0625.svg);
}

#slime-tree-farm-2 .item-buttons::before {
    background-image: url(../assets/img/projects/slime-tree-farm-2.svg);
}

#slime-tree-farm .item-buttons::before {
    background-image: url(../assets/img/projects/slime-tree-farm.svg);
}

#piston-gate-2x075 .item-buttons::before {
    background-image: url(../assets/img/projects/piston-gate-2x075.svg);
}



#twisty-puzzle .categ-name::before {
    background-image: url(../assets/svg/grid.svg);
}

#pentagon331 .item-buttons::before {
    background-image: url(../assets/img/projects/pentagon331.svg);
}

#bandaged444 .item-buttons::before {
    background-image: url(../assets/img/projects/bandaged444.svg);
}

#bandaged333 .item-buttons::before {
    background-image: url(../assets/img/projects/bandaged333.svg);
}



#indie-short .categ-name::before {
    background-image: url(../assets/svg/movie.svg);
}

#carrack-film .item-buttons::before {
    background-image: url(../assets/img/projects/Carrack.svg);
}
