body {
    background-color: #fff;
}
h1 {
    color: #000;
}
#logo-main {    
    background-color: #fff;
}
.lines {
    background-color: #e1e3e5;
}
h1.codename {
    color: #e1e3e5;
}
#logo-animated-container:hover ~ h1 {
    /* color: #3e3e3e; */
    filter: invert(1);
}
nav#mobile-bottom-nav {
    background-color: #fff;
}

.categ-name {
    background-color: #3e3e3e;
}
.categ-name p {
    color: #fff;
}

footer p {
    color: #000;
}
#footer-logo {
    filter: invert(0);
}
