/* .welcome-page::before {
    content: "Twisty Puzzle Design";
} */

@media (max-width: 384px) {
    .timeline-begin {
        height: 2.25rem;
        margin: calc(50vh - 1.875rem) auto 0 auto;
        padding: .75rem 1.125rem;
    }

    .timeline-begin > h1 {
        font-size: 1.5rem;
    }
}

/*pentagon331*/

#pentagon331 {
    --box-shadow-color: #3e95ec;
}

#pentagon331 > .project-img {
    background-image: url(img/pentagon331-cover.png);
}

#pentagon331 > .project-info {
    background-image: url(../../../assets/img/projects/pentagon331.svg);
}

/*bandaged444*/

#bandaged444 {
    --box-shadow-color: #50c287;
}

#bandaged444 > .project-img {
    background-image: url(img/bandaged444-cover.jpg);
}

#bandaged444 > .project-info {
    background-image: url(../../../assets/img/projects/bandaged444.svg);
}

/*bandaged333*/

#bandaged333 {
    --box-shadow-color: #fc8148;
}

#bandaged333 > .project-img {
    background-image: url(img/bandaged333-cover.png);
}

#bandaged333 > .project-info {
    background-image: url(../../../assets/img/projects/bandaged333.svg);
}
